.button {
    -fx-background-color: #4CAF50;   /* hex colour*/
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10;

    -fx-effect: dropshadow(gaussian, black, 5, 0.1, 3, 3);
}

.button:hover {
    -fx-background-color: #ADD8E6;  /* hover color */
    -fx-cursor: hand;              /* change cursor to pointer */
}

.room-title {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}